<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>一覧ページ</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/js/note.js"></script>
	</head>
	<body>
		<h1>掲示板</h1>
		<form method="post" action="/add" style="margin: 20px 0;", id="addContent">
		    <input type="text" name="content" size="20" maxlength="200" class="content"/>
		    <button type="button" id="submit">投稿する</button>
		</form>
		
		<!-- DBから持ってきた内容を表示 -->
		<div th:each="content : ${contents}" th:class="'addContent' + ${content.id}">

			<div th:id="'content' + ${content.id}" style="margin: 1rem 0;">
				<h4 th:text="${content.content}"></h4>
			</div>
				
			<div  style="display:inline;" th:class="'edit' + ${content.id}">
				<a th:action="@{/Edit/{id}(id=${content.id})}" method="get">
					<button type="button" th:onclick="|getEditFunk('__${content.id}__')|">
						編集
					</button>
				</a>
			</div>
		</div>
	</body>
</html>	